version: "3.9"
services:
  backend:
    build: ./backend
    container_name: gnss_backend
    ports:
      - "8000:8000"
  frontend:
    build: ./frontend
    container_name: gnss_frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
